body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Arial, sans-serif;
}

h3 {
    color: #003366;
}

p {
    max-width: 600px;
    line-height: 1.6;
}

#ictCarousel img {
  width: 80%;          
  height: 500px;       
  margin: 0 auto;      
  display: block;
  object-fit: cover;
}


